build/
toolchain/
limine-binary/
limine-src/
*.o
serial.txt
qemu_*.txt
timestamps
version
aclocal.m4
bootstrap
build-aux/
common/
config.h.in
configure
configure.ac
COPYING
flanterm/
freestanding-c-hdrs/
GNUmakefile.in
host/
libfdt/
LICENSES/
m4/
Makefile
man/
picoefi/
stage1/
tools/
ChangeLog
CON
CONFIG.md
FAQ.md
INSTALL.md
USAGE.md
*.lnk
3RDPARTY.md
.editorconfig
